/* cuerpo*/
body{
    background-image: url(images/fondo.jpg);
    background-position: center;
    text-align: center;
    background-size: 100%;
}

h1{
    /*background-color: blanchedalmond;*/
    margin: 10px;
    font-size: 70px;
    color: black;
    /*text-align: left;*/
}

h2{
    margin: 30px;
    font-size: 40px;
    text-align: center;
}

p{
    text-align: center;
    font-size: 20px;
}

.negrita, caption{
    font-weight: bolder;
}

.intro, .intro1{
    background-color: rgb(241, 88, 137);
    text-align: center;
    border-radius: 8px;
}

.intro{
    margin-left: 23.5%;
    margin-right: 23.5%;
}

.intro1{
    margin-left: 28%;
    margin-right: 28%;
}

.Formulario, .nivel1 {
    background-color: rgb(236, 153, 236);
    width: 25%;
    height: 28%;
    /*margin-left: 37.5%;*/
    border-radius: 10px;
}

.Formulario{
    padding: 1px;
    margin: 10px;
    margin-left: 37.5%;
}

.nivel1{
    margin-top: 1.5%;
    margin-left: 37.5%;
}

.tablaranking{
    margin-left: 43.5%;
    border: 1px solid #000000;
}

th, td, table, caption{
    background-color: rgb(249, 159, 247);
    padding: 5px;
    border-collapse: collapse;
    border:1px solid #000000;
}

.tabla{
    padding: 10px;
}

#Nombre, #edad{
    border-radius: 5px;
}

/* boton */
button{
    margin: 80px;
    margin-top: 90px;
    font-size: 20px;
    float: right;
}

button:hover{
    background-color:rgb(241, 107, 214) ;
}

/* Pie de pagina */
footer{
    color: black;
    text-align: left;
    /*bottom: 0;*/
    position: absolute;
    font-size: 18px;
}

